<!-- 
  CASE 1 - user is not logged in
  SHOW LOGIN FORM 
-->
<div class="container" *ngIf="!this.isUserLoggedIn()">
  <h2>Login</h2>
  <form method="POST" action="http://localhost:3000/login">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="userName"
        name="userName"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        [(ngModel)]="userName"
      />
      <small id="emailHelp" class="form-text text-muted"
        >We'll never share your email with anyone else.</small
      >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
        [(ngModel)]="password"
        id="password"
        name="password"
      />
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="login()">
      Submit
    </button>
  </form>
</div>
<!-- 
  CASE 2 - user is logged in
  SHOW USER PROFILE PAGE
-->
<div class="container" *ngIf="this.isUserLoggedIn()">
  <h1>
    Hello, you are logged in
    {{
      this.getUserInfo()?.userInfo?.firstName +
        " " +
        this.getUserInfo()?.userInfo?.lastName
    }}
  </h1>
</div>
